.product {
    background-color: #f0eaea;
    display: flex;
    width: 30rem;
    margin: 20px;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product:hover {
    background-color: #ccc9c9;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    border-top: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: right;
}

.arrow {
    width: 10px;
}