.product {
    background-color: #48CAE4;
    display: flex;
    width: 30rem;
    margin: 20px;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.product:hover {
    background-color: #0096C7;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    border: 2px solid #03045E;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: right;
}

.removeBtn {
    font-size: 18px;
    border: 2px solid #03045E;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #48CAE4;
}