@font-face {
  font-family: "Vazir-Bold";
  src: url(../font/vazir-font-v16.1.0/Vazir-Bold.ttf);
} 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
}

.product {
  background-color: #90E0EF;
  display: flex;
  width: 30rem;
  margin: 20px;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product:hover {
  background-color: #0095c78c;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proQuantity {
  width: 30px;
}

.proCategory {
  width: 30px;
}

.proName {
  width: 100px;
}

.description {
  border: 2px solid #03045e;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: right;
}

.removeBtn {
  font-size: 15px;
  border: 2px solid #a30303;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: "Vazir-Bold";
}

@media (max-width: 574px) and (min-width: 320px) {
    .product {
        width: 18rem;
        margin-right: 25px;
        
    }
    .container {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}