@font-face {
  font-family: "Vazir-Bold";
  src: url(../font/vazir-font-v16.1.0/Vazir-Bold.ttf);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
}

.product {
  background-color: #3a668b;
  display: flex;
  width: 30rem;
  margin: 20px;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product:hover {
  background-color: #0095c78c;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proQuantity {
  width: 30px;
  color: #e0e0e0;
}

.proCategory {
  width: 30px;
  color: #e0e0e0;
}

.proName {
  width: 100px;
  color: #e0e0e0;
}

.description {
  border: 2px solid #010234;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: right;
}

.removeBtn {
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #191c2f;
  font-family: "Vazir-Bold";
  color: #e0e0e0;
}

p,
h1 {
  color: #e0e0e0;
}

@media screen and (max-width: 574px) {
  .product {
    width: 22rem;
  }
}

@media screen and (max-width: 444px) {
  .product {
    width: 20rem;

  }
}

@media screen and (max-width: 398px) {
  .product {
    width: 19rem;
  }
}

@media screen and (max-width: 365px) {
  .product {
    width: 19rem;
  }
  .proQuantity {
    width: 60px;
  }

  .proCategory {
    width: 50px;
  }
}

@media screen and (max-width: 344px) {
  .product {
    width: 17rem;
  }
  .proQuantity {
    width: 60px;
  }

  .proCategory {
    width: 50px;
  }
}

@media screen and (max-width: 322px) {
  .product {
    width: 15rem;
  }
  .proQuantity {
    width: 60px;
  }

  .proCategory {
    width: 50px;
  }
}

@media screen and (max-width: 290px) {
  .product {
    width: 13rem;
  }
  .proQuantity {
    width: 60px;
  }

  .proCategory {
    width: 50px;
  }
}