@font-face {
  font-family: "Vazir-Bold";
  src: url(../font/vazir-font-v16.1.0/Vazir-Bold.ttf);
} 

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
}

.product {
  background-color: #3A668B;
  display: flex;
  width: 30rem;
  margin: 20px;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.product:hover {
  background-color: #0095c78c;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proQuantity {
  width: 30px;
  color: #e0e0e0;
}

.proCategory {
  width: 30px;
  color: #e0e0e0;
}

.proName {
  width: 100px;
  color: #e0e0e0;
}

.description {
  border: 2px solid #03045e;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: right;
  
}

.removeBtn {
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #191c2f;
  font-family: "Vazir-Bold";
  color: #e0e0e0;
}

p , h1 {
  color: #e0e0e0;
}

@media (max-width: 574px) and (min-width: 320px) {
    .product {
        width: 350px;
        margin-right: 25px;
        
    }
    .container {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media (max-width: 410px) and (min-width: 320px) {
  .product {
      width: 350px;
      margin-right: 25px;
      
  }
  .container {
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }
}

@media (max-width: 319px) {
  .product {
    width: 500px;
    margin-right: 25px;
    
}
.container {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
}